
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Overlock|Roboto);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Foundation
@import "node_modules/foundation-sites/scss/settings/_settings.scss";
@import "foundation-overrides";
@import "node_modules/foundation-sites/assets/foundation";

// Component Styles
@import "components/hero";

* {
  font-family: $body-font;
}
h1 {
  font-weight: 600;
  font-family: $title-font;
}

.title-bar {
  margin-bottom: 0.75rem;
}

[v-cloak], .no-js {
  display: none;
}
